{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block commonup %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span> Accesos Rápidos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <a href="{{path('intranet_myprofile_games')}}" class="btn btn-danger btn-lg" role="button"><span class="glyphicon glyphicon-list-alt"></span> <br/>mis partidos</a>
                            <a href="{{path('intranet_myprofile_sports')}}" class="btn btn-warning btn-lg" role="button"><span class="glyphicon glyphicon-bookmark"></span> <br/>mis deportes</a>
                            <a href="{{path('intranet_myprofile_messages')}}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-signal"></span> <br/>mis mensajes</a>
                            <a href="{{path('intranet_myprofile_info')}}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-comment"></span> <br/>mis datos</a>
                        </div>
                    </div>

                </div>
            </div>

            <a href="{{path('intranet_create_game')}}" class="btn btn-success ">Organizar Partido</a>
        </div>
        <div class="col-md-6">
            <div class="bs-component">
                <h3>próximos partidos</h3>
                <div class="list-group">

                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">fecha </h4>
                        <h3 class="list-group-item-heading">deporte</h3>
                        <p> {% if game.center is defined%} {{game.center.name}} - {{game.center.address.address}} - {{game.center.address.city}} ({{game.center.address.province}}) {% endif%}</p>
                      {% if date('now') %}
                        <span class="label label-danger">Finalizado</span>
                       {% else %}

                       {% endif%}


                    </a>


                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">

        </div>
    </div>
</div>  

{% endblock %}