{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block commonup %}

<div class="container">
    <div class="row">
        <div class="col-md-6 margin-top-20">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-dot-circle-o "></i> Accesos Rápidos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <a href="{{path('intranet_myprofile_info')}}" class="btn btn-success btn-lg recuadro" role="button"><i class="fa fa-user fa-2x"></i> <br/>Mis Datos</a>
                            <a href="{{path('intranet_myprofile_sports')}}" class="btn btn-warning btn-lg recuadro" role="button"><i class="fa fa-dribbble fa-2x"></i> <br/>Mis Deportes</a>
                            <a href="{{path('intranet_myprofile_games')}}" class="btn btn-danger btn-lg recuadro" role="button"><i class="fa fa-calendar fa-2x"></i> <br/>Mis Partidos</a>
                           
                        </div>
                    </div>

                </div>
            </div>

            <a href="{{path('intranet_create_game')}}" class="btn btn-warning"><i class="fa fa-asterisk fa-fw"></i> Organiza tu partido</a>
        </div>
        <div class="col-md-6">
            <div class="bs-component">
                <h3>Mis próximos partidos</h3>
                {% if playingGames | length > 0 %}
                <div class="list-group">
                    {% for game in playingGames | slice(0,3)%}
                    <a href="{{path('intranet_games_show',{'id':game.id})}}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{game.gameDate | date('d/m/Y H:i')}} </h4>
                        <h3 class="list-group-item-heading">{{game.sport.name}}</h3>
                        <p> {% if game.center is defined%} {{game.center.name}} - {{game.center.address.address}} - {{game.center.address.city}} ({{game.center.address.province}}) {% endif%}</p>
                    </a>
                    {% endfor %}
                    <a href="{{path('intranet_myprofile_games')}}" class="btn btn-success pull-right"> ver información de mis partidos</a>
                {% else%}
                    <p> Actualmente no tiene ningún partido pendiente </p>
                {% endif%}
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">

        </div>
    </div>
</div>  

{% endblock %}