{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block commonup%}

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="{{path('intranet_home')}}">WePlay</a></li>
    <li class="active">Mis Mensajes</li>
</ul>

{% endblock%}
{% block sidecontent %}

    <div class="row margin-top-20">
        <div class="col-xs-12">
            <img class="img-responsive img-thumbnail" src="{{ asset('bundles/miwintranet/images/default-user-photo.png') }}" alt="Nombre de usuario"/>
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="{{path('intranet_myprofile_info')}}">Mis Datos</a>
                </li>
                <li>
                    <a href="{{path('intranet_myprofile_sports')}}">Mis Deportes</a>
                </li>
                <li>
                    <a href="{{path('intranet_myprofile_games')}}">Mis Partidos</a>
                </li>
                <li class="active">
                    <a href="{{path('intranet_myprofile_messages')}}">
                        <span class="badge pull-right">0</span>
                        Mis Mensajes
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block maincontent %}

    <blockquote class="margin-top-20">
        <p>Envía mensajes a tus compañeros de pachanga.</p>
        <p>Lee tus mensajes.</p>
    </blockquote>
    <div class="row margin-top-20">
        <div class="col-xs-12">
        </div>
    </div>



{% endblock %}
{% block commondown%}
{% endblock %}
{% block javascripts%}
{% endblock%}

