<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
              rel="stylesheet">
        <link href="{{ asset('css/jqueryui/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet">
        <link href="{{ asset('css/jqueryui/jquery.ui.1.10.0.ie.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/bootstrap-flatly.min.css') }}" rel="stylesheet">

        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"> 
        <link href="{{ asset('css/bootstrap-timepicker.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui-1.9.2.custom.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap-timepicker.min.js') }}"></script>
        <script type="text/javascript" src="http://js.pusher.com/2.2/pusher.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
