{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block commonup%}
<form action="{{path('intranet_create_game')}}" method="POST">
    <div class="row">
        <div class="col-xs-7 col-xs-offset-4">
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success btn-block" type="submit">
                        <i class="fa fa-check fa-fw"></i>
                        Crear
                    </button>
                </div>
                <div class="col-xs-6">
                    <a href="{{path('intranet_dashboard')}}" class="btn btn-danger btn-block pull-right">
                        <i class="fa fa-times fa-fw"></i>
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
{% block sidecontent %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.gameDate) }}
                        {{ form_widget(form.gameDate,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.gameTime) }}
                        {{ form_widget(form.gameTime,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.limitDate) }}
                        {{ form_widget(form.limitDate,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.limitTime) }}
                        {{ form_widget(form.limitTime,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.sport) }}
                        {{ form_widget(form.sport,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.numPlayers) }}
                        {{ form_widget(form.numPlayers,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        {{ form_label(form.price) }}
                        <div class="input-group">
                            {{ form_widget(form.price,{ 'attr': {'class': 'form-control'} }) }}
                            <span class="input-group-addon"><i class="fa fa-euro fa-fw"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description,{ 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block maincontent %}
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-5">
                </div>
                <div class="col-xs-7">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(form.center.name) }}
                                {{ form_widget(form.center.name,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(form.center.address.address) }}
                                {{ form_widget(form.center.address.address,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="form-group">
                                {{ form_label(form.center.address.community) }}
                                {{ form_widget(form.center.address.community,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group">
                                {{ form_label(form.center.address.province) }}
                                {{ form_widget(form.center.address.province,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ form_label(form.center.address.city) }}
                                {{ form_widget(form.center.address.city,{ 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block commondown%}
</form>

 <script>
     
        $(document).ready(function(){
            $('.center-name').autocomplete({
                    source: function( request, response ) {
                        $.ajax({
                          method: "GET",
                          url: "{{path('intranet_ajax_search_center')}}",
                          dataType: "json",
                          data: {
                            center: $('.center-name').val(),
                          },
                          success: function( data ) {
                            console.log(data);
                           var array = data.error ? [] : $.map(data, function(item) {
                                        return {
                                            label: item.name,
                                            value: item
                                    };
                            });
                            response(array);

                          }
                        });
                    },
                    minLength: 2,
                    open: function() {
                        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                    },
                    close: function() {
                        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                      },
                    select: function( event, ui ) {
                        console.log("CIUDAD");
                        console.log(ui.item.value);
                        console.log(ui.item.value.city);
                        $('#game_center_address_address').val(ui.item.value.address);
                        $('.center-name').val(ui.item.value.name)
                        $('#game_center_address_province').val(ui.item.value.province);
                        $('#game_center_address_community').val(ui.item.value.community);
                        $('#game_center_address_city').val(ui.item.value.city);
                        event.preventDefault();
                    }
                })
    
  
        });

    </script>
{% endblock %}
