{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block commonup%}

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="{{path('intranet_home')}}">WePlay</a></li>
    <li><a href="{{path('intranet_games')}}">Partidos</a></li>
    <li class="active">Editar Partido</li>
</ul>

<form action="{{path('intranet_edit_game',{'id':game.id})}}" method="POST">

{% endblock%}
{% block sidecontent %}

    <div class="row margin-top-20">
        <div class="col-xs-12">
            <div class="well bs-component">
                <legend>Info de Partido</legend>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row text-center">
                            <label>Fecha y Hora del Partido</label>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                        {{ form_widget(form.gameDate,{ 'attr': {'class': 'form-control input-group-element datepicker'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                        {{ form_widget(form.gameTime,{ 'attr': {'class': 'form-control input-group-element timepicker'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row text-center">
                            <label>Límite de Baja</label>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                        {{ form_widget(form.limitDate,{ 'attr': {'class': 'form-control input-group-element datepicker'} }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
                                        {{ form_widget(form.limitTime,{ 'attr': {'class': 'form-control input-group-element timepicker'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                        {{ form_label(form.sport) }}
                        {{ form_widget(form.sport,{ 'attr': {'class': 'form-control select-sport'} }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                        {{ form_label(form.numPlayers) }}
                        {{ form_widget(form.numPlayers,{ 'attr': {'class': 'form-control num-players'} }) }}
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                        {{ form_label(form.price) }}

                            <div class="input-group">
                            {{ form_widget(form.price,{ 'attr': {'class': 'form-control input-group-element z-index-0'} }) }}
                                <span class="input-group-addon"><i class="fa fa-euro fa-fw"></i></span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description,{ 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block maincontent %}

    <blockquote class="margin-top-20">
        <p>Rellena la información del evento y de la instalación deportiva.</p>
        <p>Para encontrar tu localización utiliza el autocompletado del campo instalación.</p>
    </blockquote>
    <h2>¿Dónde Jugamos?</h2>
    <div class="row margin-top-20">
        <div class="col-xs-5">
            <div class="row">
                <div class="well">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-7 margin-top-20">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                                {{ form_label(form.center.name) }}
                                {{ form_widget(form.center.name,{ 'attr': {'class': 'form-control center-name','placeholder': 'Completa el nombre de tu instalación'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                                {{ form_label(form.center.address.address) }}
                                {{ form_widget(form.center.address.address,{ 'attr': {'class': 'form-control center-address'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div class="form-group">
                                {{ form_label(form.center.address.community) }}
                                {{ form_widget(form.center.address.community,{ 'attr': {'class': 'form-control center-community'} }) }}
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="form-group">
                                {{ form_label(form.center.address.province) }}
                                {{ form_widget(form.center.address.province,{ 'attr': {'class': 'form-control center-province'} }) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                                {{ form_label(form.center.address.city) }}
                                {{ form_widget(form.center.address.city,{ 'attr': {'class': 'form-control center-city'} }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <button class="btn btn-block btn-primary" onclick="findMe()">Localízame</button>
        </div>
        <div class="col-xs-5 col-xs-offset-1">
            <button class="btn btn-block btn-primary" onclick="findPosition()">Comprobar Dirección</button>
        </div>
    </div>


{% endblock %}
{% block commondown%}
    <div class="row padding-top-20 padding-bottom-20">
        <div class="col-xs-6 col-xs-offset-3">
            {{ form_widget(form.center.address.coordinates.x,{ 'attr': {'class': 'center-lat'} }) }}
            {{ form_widget(form.center.address.coordinates.y,{ 'attr': {'class': 'center-long'} }) }}
            {{ form_widget(form.center.address.coordinates.zipcode,{ 'attr': {'class': 'center-zipcode'} }) }}
            {{ form_widget(form._token) }}
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success btn-block" type="submit">
                        <i class="fa fa-check fa-fw"></i>
                        Crear
                    </button>
                </div>
                <div class="col-xs-6">
                    <a href="{{path('intranet_home')}}" class="btn btn-danger btn-block">
                        <i class="fa fa-times fa-fw"></i>
                        Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('.center-name').autocomplete({
            source: function(request, response) {
                $.ajax({
                    method: "GET",
                    url: "{{path('intranet_ajax_search_center')}}",
                    dataType: "json",
                    data: {
                        center: $('.center-name').val()
                    },
                    success: function(data) {
                        console.log(data);
                        var array = data.error ? [] : $.map(data, function(item) {
                            return {
                                label: item.name,
                                value: item.name,
                                item: item
                            };
                        });
                        response(array);

                    }
                });
            },
            minLength: 2,
            open: function() {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function() {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            },
            select: function(event, ui) {
                $('#game_center_address_address').val(ui.item.item.address);
                $('.center-name').val(ui.item.item.name)
                $('#game_center_address_province').val(ui.item.item.province);
                $('#game_center_address_community').val(ui.item.item.community);
                $('#game_center_address_city').val(ui.item.item.city);
                event.preventDefault();
            }
        })


        $('.datepicker').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'd/m/y',
            yearRange: "-0:+1"
        });

        $('.timepicker').timepicker({
            defaultTime: 'current',
            showMeridian: false,
            showInputs: true,
            template: 'dropdown'
        });
        
        $('.select-sport').on('change', function() {
                $.ajax({
                    method: "GET",
                    url: "{{path('intranet_ajax_find_sport')}}",
                    dataType: "json",
                    data: {
                        sport: this.value
                    },
                    success: function(data) {
                        $('.num-players').val(data.min_players);
                    }
                });
    

         });
 });
</script>
{% endblock %}
{% block javascripts%}
<script type="text/javascript" src="{{ asset('js/maps.js') }}"></script>
{% endblock%}
