{% extends "MIWIntranetBundle:Default:base.html.twig" %}

{% block commonup%}

    <ul class="breadcrumb" style="margin-bottom: 5px;">
        <li><a href="{{path('intranet_home')}}">WePlay</a></li>
        <li><a href="{{path('intranet_games')}}">Partidos</a></li>
        <li class="active">Mostrar Partidos</li>
    </ul>

{% endblock%}

{% block sidecontent %}
    
    <div class="row margin-top-20">
        <div class="col-xs-12">
            <div class="well bs-component">
                <legend>Filtrar</legend>
                
             </div>
        </div>
    </div>  
        
{% endblock%}
    
{% block maincontent %}
      
    {% if gamesCount > 0 %}
        <blockquote class="margin-top-20">
            <p>Actualmente participas en {{ gamesCount }} partidos.</p>
        </blockquote>
        
            <div class="bs-component">
                <h3>Hoy</h3>
            
                {% for game in gamesToday %}
            
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">                        
                                <h4 class="list-group-item-heading">
                                    {{ game.gameDate | date("d/m/Y h:m") }}
                                    {{ game.sport.name }}
                                    {{ game.center.name }}, {{ game.center.address.city }}
                                </h4>
                                <img src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" />
                                <img src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" />
                                <span class="badge">Num. Jugadores: {{ game.numPlayers }}</span>                        
                            </div>
                        </div>
                    </div>
            
                {% endfor %}
                       
            <h3>Mañana</h3>
            
                {% for game in gamesTomorrow %}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">                        
                                <h4 class="list-group-item-heading">
                                    {{ game.gameDate | date("d/m/Y h:m") }}
                                    {{ game.sport.name }}
                                    {{ game.center.name }}, {{ game.center.address.city }}
                                </h4>
                                <img src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" />
                                <img src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" />
                                <span class="badge">Num. Jugadores: {{ game.numPlayers }}</span>                        
                            </div>
                        </div>
                    </div>

                {% endfor %} 
            
            <h3>Esta Semana</h3>
            
                {% for game in gamesThisWeek %}

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">                        
                                <h4 class="list-group-item-heading">
                                    {{ game.gameDate | date("d/m/Y h:m") }}
                                    {{ game.sport.name }}
                                    {{ game.center.name }}, {{ game.center.address.city }}
                                </h4>
                                <img src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" />
                                <img src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" />
                                <span class="badge">Num. Jugadores: {{ game.numPlayers }}</span>                        
                            </div>
                        </div>
                    </div>

                {% endfor %}
             </div>
        
    {% else %}

        <blockquote class="margin-top-20">
            <p>No tienes partidos.</p>
        </blockquote>
        <div class="col-xs-7 margin-top-20">
            <a href="{{path('intranet_create_game')}}">Organizate uno.</a>
        </div>
    
    {% endif %}

{% endblock %}