{% extends "MIWPublicBundle:Default:base.html.twig" %}
{% block sidecontent %}
<h4 class="text-center">¿Qué es WePlay?</h4>
<ul class="fa-ul">
    <li><i class="fa fa-smile-o fa-li"></i>Juega a cualquier deporte</li>
    <li><i class="fa fa-smile-o fa-li"></i>Organiza partidos</li>
    <li><i class="fa fa-smile-o fa-li"></i>Invita a tus amigos</li>
    <li><i class="fa fa-smile-o fa-li"></i>Conoce deportistas como tú</li>
</ul>
{% endblock %}

{% block maincontent %}
    {% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>¡Atención!</strong> {{ error|trans({}, 'FOSUserBundle') }}
</div>
    {% endif %}

<div class="well text-center">
            {% if app.user %}
    <h2>Bienvenido {{app.user.username}}</h2>	
    <p>Ya puedes empezar a jugar con WePlay</p>
    <a href="{{path('intranet_home')}}" type="submit" class="button btn btn-success btn-large" >Entrar >></a>
            {% else %}
    <form action="{{ path("fos_user_security_check") }}" method="post">                  
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <h1>Conéctate a WePlay</h1>	
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-group-element"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control input-group-element" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Introduce tu Nickname o Email" />
                    </div> <!-- /field -->
                </div>                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-group-element"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control input-group-element" type="password" id="password" name="_password" required="required" value="" placeholder="Introduce tu contraseña" />
                    </div> <!-- /password -->
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-primary btn-large" value="¡A Jugar!"/>
        </div>
        <div class="row">
            <button class="btn btn-link" data-toggle="modal" data-target="#registerModal">Regístrate</button>
        </div>
    </form>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{ render(controller("MIWPublicBundle:User:register")) }}
    </div> <!-- /modal -->
            {% endif %}

</div> <!-- /content -->

{% endblock %}