{% extends "MIWPublicBundle:Default:base.html.twig" %}

{% block maincontent %}
    {% if error %}
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>¡Atención!</strong> {{ error|trans({}, 'FOSUserBundle') }}
</div>
    {% endif %}

<div class="well text-center">
            {% if app.user %}
    <h2>Bienvenido {{app.user.username}}</h2>	
    <p>Ya puedes empezar a jugar con WePlay</p>
    <a href="{{path('intranet_dashboard')}}" type="submit" class="button btn btn-success btn-large" >Entrar >></a>
            {% else %}
    <form action="{{ path("fos_user_security_check") }}" method="post">                  
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <h1>Conéctate a WePlay</h1>	
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Introduce tu Nickname o Email" />
                    </div> <!-- /field -->
                </div>                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" id="password" name="_password" required="required" value="" placeholder="Introduce tu contraseña" />
                    </div> <!-- /password -->
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="button btn btn-success btn-large" value="¡A Jugar!"/>
        </div>
        <div class="row">
            <a href="{{path('fos_user_registration_register')}}">Regístrate</a>
        </div>
    </form>

            {% endif %}

</div> <!-- /content -->

{% endblock %}