<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times text-white"></i>
            </button>
            <h3>Modificar Deporte</h3>
        </div> <!-- /modal-header -->
        <div class="modal-body">	
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-center">
                    <form action="" method="POST">
                        <div class="form-group">
                            <div class="row text-center">
                                {{ name }}
                            </div>           
                        </div>
                        <div class="form-group">
                            <div class="row text-left">
                                <label>Nivel</label>
                            </div>
                            {% for i in 0..4 %}            
                                <a href="#" class="btn btn-danger action-level" data-id="{{i}}"> <i class="fa fa-star"></i> </a>
                            {% endfor %}
                        </div>
                        <input class="hiddenId" type="hidden" value="{{ idSport }}"/>
                        <input class="btn btn-succes" type="button" value="Editar"/>
                        <input class="btn btn-danger" type="button" value="Borrar"/>
                    </form>
                </div>
            </div>
        </div> <!-- /modal-body -->
    </div> <!-- /modal-content -->
</div> <!-- /modal-dialog -->
<script>
    $(document).ready(function() {
        $(document).on("click", '.btn-danger action-level', function(event) {
            event.preventDefault();
            
        });            
         
         $(document).on("click", '.btn-succes', function(event) {
                event.preventDefault();            
                $.ajax({
                    method: "GET",
                    url: "{{path('intranet_ajax_edit_sport')}}",
                    dataType: "json",
                    data: {
                        sport: $('.hiddenId').val(),
                        level: 1
                    },
                    success: function(data) {
                       $(this).close();  
                    }
                });
        });   
        
        $(document).on("click", '.btn-danger', function(event) {
                event.preventDefault();            
                $.ajax({
                    method: "GET",
                    url: "{{path('intranet_ajax_delete_sport')}}",
                    dataType: "json",
                    data: {
                        sport: $('.hiddenId').val()
                    },
                    success: function(data) {
                       $(this).close();  
                    }
                });
        });   
    });        
</script>